# Node
node_modules/
npm-debug.log
yarn-error.log

# Server runtime logs (created by the background-server PowerShell command)
server.log
server.err.log

# OS / editor
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
